<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customBean" class="com.chenjiacheng.spring.context.beans.CustomBean">
        <constructor-arg name="name" value="spring-analysis-context"/>
    </bean>

    <!--    <bean id="customEnvironmentAware1" class="com.chenjiacheng.spring.context.aware.CustomEnvironmentAware"/>-->
    <!--    <bean id="customEnvironmentAware2" class="com.chenjiacheng.spring.context.aware.CustomEnvironmentAware"/>-->

    <bean id="customBeanFactoryPostProcessor1" class="com.chenjiacheng.spring.context.processor.CustomBeanFactoryPostProcessor"/>
    <bean id="customBeanFactoryPostProcessor2" class="com.chenjiacheng.spring.context.processor.CustomBeanFactoryPostProcessor2"/>
    <bean id="customApplicationContextInitializer" class="com.chenjiacheng.spring.context.init.CustomApplicationContextInitializer"/>
    <bean id="testListener" class="com.chenjiacheng.spring.context.event.TestListener"/>
</beans>
